.place__title {
  grid-area: title;
  font-size: 80px;
  font-weight: 700;
  margin: 137px 0 0 160px;
}

@media screen and (max-width: 2880px) {
  .place__title {
    margin-top: 4.75vw;
    margin-left: 5.55vw;
    font-size: 2.77vw;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 4.7vw;
    margin-top: 8vw;
    margin-left: 9.375vw;
  }
}
