.place__title {
  grid-area: title;
  font-size: 36px;
  font-weight: 700;
  margin: 71px 0 0 71px;
}

@media screen and (max-width: 1280px) {
  .place__title {
    margin-top: 5.5vw;
    margin-left: 5.55vw;
    font-size: 2.77vw;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 4.7vw;
    margin-top: 8vw;
    margin-left: 9.375vw;
  }
}
