.root__header {
  background-color: #fff;
  max-width: 80%;
  margin-top: 110px;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .page__header {
    max-width: 90.6%;
  }
}

@media screen and (max-width: 1023px) {
  .page__header {
    max-width: 93.7%;
  }
}

@media screen and (max-width: 767px) {
  .page__header {
    max-width: 90%;
    margin-top: 15px;
  }
}

