.root__header {
  background-color: #fff;
  max-width: 89%;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 75px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

@media screen and (max-width:320px){
  .root__header{
    max-width: 95%;
    margin-bottom: 0.5vh;
    flex-direction: column;
    align-items: flex-start;
  }
}

