.place__paragraph {
  font-family: Roboto, Arial, sans-serif;
  font-size: 13.3px;
  line-height: 1.48;
  margin: 0 0 25px 70px;
  max-width: 356px;
}

.place__paragraph:last-of-type{
  margin-bottom: 84px;
}

.place__paragraph:nth-of-type(3)
{
  margin-bottom: 64px;
}

@media screen and (max-width:1280px){
  .place__paragraph{
    margin: 0 5.55vw 1.9vw 5.55vw;
    font-size: 1.04vw;
    max-width: 27.8vw;
  }

  .place__paragraph:last-of-type{
    margin-bottom: 7vw;
  }

  .place__paragraph:nth-of-type(3)
  {
    margin-bottom: 5vw;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 58%;
    font-size: 1.8vw;
    margin: 0 9.375vw 2.7vw 9.375vw;
  }

  .place__paragraph:last-of-type{
    margin-bottom: 11vw;
  }

  .place__paragraph:nth-of-type(3)
  {
    margin-bottom: 8.3vw;
  }
}


