.footer__copyright {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
}

@media screen and (max-width: 1280px) {
  .footer__copyright {
    font-size: 2.8vw;
  }
}
