.root {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  max-width: 2880px;
}

@media screen and (max-width: 768px) {
  .root {
    max-width: 768px;
  }
}

