.root {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: rgba(128, 128, 128, 0.301);
  color: black;
  max-width: 2880px;
}

@media screen and (max-width: 1024px) {
  .root {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .root {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .root {
    max-width: 320px;
  }
}
