.quotes__text {
  font-family: Roboto, Arial, sans-serif;
  font-size: 1vw;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:950px){
  .quotes__text {
    font-size: 1.8vw;
  }
}

@media screen and (max-width:320px){
  .quotes__text {
    font-size: 3.5vw;
  }
}
