.quotes__quote {
  max-width: 235px;
}

@media screen and (max-width:950px){
  .quotes__quote{
    max-width: 50%;
    margin-bottom: 4%;
  }
}

@media screen and (max-width:320px){
  .quotes__quote{
    max-width: 100%;
    margin-bottom: 8%;
  }
}

