.quotes__heading {
  color: #fecda7;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1vw;
  line-height: 19px;
  text-transform: uppercase;
}

@media screen and (max-width:320px){
  .quotes__heading{
    font-size: 3vw;
  }
