.root__quotes {
  max-width: 89%;
  margin-top: 137px;
  margin-right: auto;
  margin-bottom: 146px;
  margin-left: auto;
}

@media screen and (max-width:320px){
  .root__quotes{
    max-width: 95%;
    margin-top: 5vw;
    margin-bottom: 5vw;
  }
}








