.place {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0 0;
  grid-template-areas: "image  text";
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 100%;
    grid-template-areas:
      "image"
      "text";
  }
}
