.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background-color: #fecda7;
  min-height: 610px;
}

@media screen and (max-width: 1280px) {
  .footer {
    min-height: 47.675vw;
  }
}
