.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background-color: #FECDA7;
  min-height: 1400px;
}

@media screen and (max-width:2880px){
  .footer{
    min-height: 48.6vw;
  }
}


