.intro__image {
  display: block;
  object-fit: cover;
  margin: 0 auto 0 auto;
  width: 800px;
  height: 800px;
  padding: 0 354px 295px 286px;
}

@media screen and (max-width:2879px){  /*ТУТ БЫЛ КОНФЛИКТ*/
  .intro__image{
    width: 27.78vw;
    height: 27.78vw;
    padding: 0 12.2vw 10.2vw 10vw;
  }
}
