.intro__heading {
  font-family: 'RobotoCondensed-Bold', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.04vw;
  line-height: 19px;
  text-transform: uppercase;
  text-align: left;
  margin: 254px 0 0 160px;
  color: #FECDA7;
}

@media screen and (max-width:2879px){
  .intro__heading{
    font-size: 1vw;
    margin-top: 8.82vw;
    margin-left: 5.55vw;
  }
}


@media screen and (max-width:320px){
  .intro__heading{
    font-size: 2vw;
    margin-top: 17.6vw;
    margin-left: 11.1vw;
  }
}





  /* НИЖЕ - СВОЙСТВА, КОТОРЫЕ У ТЕБЯ ИЗНАЧАЛЬНО ИМЕЛ INTRO__HEADING.

  Я ИХ ЧУТЬ ИЗМЕНИЛА, ЧТОБЫ ОНИ СОВПАДАЛИ СО ШРИФТОМ И РАЗМЕРОМ ЭЛЕМЕНТОВ
  QUOTES__HEADING QUOTES__SOURCE. ЕСЛИ ЧТО, ПОТОМ ДОКРУТИМ.

  *font-size: 28px;
  line-height: 1.2;
  text-align: left;
  font-weight: 400;
  margin: 254px 0 0 160px;
  color: #FECDA7; */
