.intro__heading {
  font-size: 13px;
  line-height: 1.2;
  text-align: left;
  font-weight: 400;
  margin: 114px 0 0 71px;
  color: #FECDA7;
}

@media screen and (max-width:1280px){
  .intro__heading{
    font-size: 1vw;
    margin-top: 8.82vw;
    margin-left: 5.55vw;
  }
}


@media screen and (max-width:320px){
  .intro__heading{
    font-size: 2vw;
    margin-top: 17.6vw;
    margin-left: 11.1vw;
  }
}
