.intro__title {
  font-family: Roboto, Arial, sans-serif;
  font-size: 30px;
  line-height: 1.4;
  text-align: left;
  font-weight: 700;
  margin-top: 25px;
  margin-left: 71px;
}

@media screen and (max-width: 1280px) {
  .intro__title {
    font-size: 2.3vw;
    margin-top: 2vw;
    margin-left: 5.55vw;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 4.4vw;
    margin-top: 4.6vw;
    margin-left: 11.1vw;
    max-width: 77.8vw;
  }
}
